.login-modal {
    position: absolute;
    top: 170px;
    left: calc(50% - 280px);
    height: 350px;
    width: 560px;
    border-radius: 25px;
    background: rgb(75,75,75);
    outline: none;
    padding: 20px;



    .title {
        display: flex;
        margin-top: 54px;
        margin-left: 86px;
        font-size: 26px;
        font-weight: bold;


        .icon {
            height: 2rem;
            width: 2rem;
            margin-right: 0.5rem;
        }

    }

    .container {
        margin-top: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px 5px;


        .id {
            display: flex;
            margin-top: 0.7rem;
            margin-left: 50px;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            height: 50px;
            width: 400px;
            border: 1px solid #C4C4C4;
            border-radius: 12px;
            background-color: white;
            font-size: 1rem;
            box-sizing: border-box;

            .icon {
                margin-top: 0.7rem;
                margin-right: 0.7rem;
                width: 1.6rem;
                height: 1.6rem;
                color: #C4C4C4;
            }

            .input {
                width: 95%;
                font-size: 1rem;
                border: none;

            }
        }

        .id:focus-within {
            outline: 1px solid rgba(136, 136, 136, 0.5);
        }

        .input:focus {
            outline: none;
        }


        .password:focus-within {
            outline: 1px solid rgba(136, 136, 136, 0.5);
        }

        .password-input:focus {
            outline: none;
        }
    }

    .button-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 30px;

        .button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            left: 20px;

            .login {
                display: inline-flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                font-weight: bold;
                cursor: pointer;
                outline: none;
                border: none;
                background: #538DFF;
                //background: rgb(18, 184, 134);
                color: white;
                border-radius: 4px;
                height: 2.5rem;
                width: 180px;
                font-size: 1rem;
            }

            .register {
                display: inline-flex;
                margin-left: 20px;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                font-weight: bold;
                cursor: pointer;
                outline: none;
                border: none;
                background: rgb(134, 142, 150);
                color: white;
                border-radius: 4px;
                padding: 0px 1.25rem;
                height: 2.5rem;
                width: 180px;
                font-size: 1rem;
            }
        }

        .type{
            position: absolute;
            cursor: pointer;
            width: 120px;
            right: 30px;
        }
        .type:hover{
            border-bottom: 1px solid white;
        }

    }

    .regex{
        font-size: 15px;
    }


    .lost {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 50px;
        width: 400px;

        .lostbutton {
            background: none;
            border: none;
            font-size: 0.9rem;
            color: #444748;
        }

    }

}