.recommend-modal {
    position: absolute;
    top: 170px;
    left: calc(50% - 500px);
    height: 600px;
    width: 1000px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;


    .container {
        box-sizing: border-box;
        display: flex;

        .container__item {
            margin-right: 30px;
            border: 1px solid black;
        }

        .container__cocktail-names {
            display: flex;
        }

        .container__cocktail-name {
            width: max-content;
            height: 20px;
            background-color: lightcyan;
            border-radius: 5px;
            margin-right: 10px;
        }
    }
}