# CI Environment
dist: bionic

# Job Configurations
jobs:
  include:
    - language: python
      python: "3.9.5"
      addons:
        sonarcloud:
          organization: swsnu
          token:
            secure: "Eqi7JiuJtjDwqbDjQq/O/ehlF0dLOg/5JHTZY8X9BJeGXwMtqBkhRxUv8jSXarI9PX7KYbvRtDehuJZisPDTrtciIrb2sZyVHuB5OAR/s4EhiOSfcIrSg6Bje0RGPOaSv8XcSPiXtJxcvNinDiYu42oUDVXs0XIcpESkI7aDyWjbdPmsb2weuolM2KtfvB6R3n76sZRU0CRwKDiV2FIj6ya3MAiYi0+4L1zLQc9nCO1LBslkQBVJwPrgknd1dEzOWCptf5DMdHlVNa0XEMfKCfvb3bRsDjF/n1nZc2Jo/JeHcrYQc9soO9qHIbYLou4VW1NiUNO21dglg1bfuB7GS4WaEH+9mLJg3W3dZaBvlkfBi0O4mKUyZf4UEkYZvEQuvkEnTWXHtOFXtZsAXHZFBdCM92tedu36EJyD7XgzxJ66AQ8BwRUJfEQrd6TsiuLTPphjEPDc4jXFWjahFxyfVrl/ELb1ZxL+Wwu993ecXeIYVdXqvl2Ao8ilMjtsW9bLK8sJAQUWR7EdgTHubmunnjoJdCyZRWjF0JzmJAoLZISZHbgYYOqY6nbqQmffEstpeOSh9Y/VCN1WSMLwe+u4UkvwgGVazF3IbbjLe65gE08LXURJw687EvhVSDGPQ4Qbt9r2Xa2s4N2R8NmUcszrpVg5b832Y8Wq9qIXcP0hqNc="
      install:
        - cd backend/qualla
        - pip install -r requirements.txt
      script:
        - pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml
        - cd ../.. && sonar-scanner

    - language: node_js
      node_js: 14
      install:
        - cd frontend
        - yarn install
      script:
        - ./node_modules/.bin/eslint src
        - yarn test --coverage --watchAll=false
