.list-item{
  width: 220px;
  background: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .list-item-img-wrap{
    width: 100%;
    position: relative;
    padding-top: 95%;

    .list-item-img{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .list-item-main{
    padding: 1rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;

    .list-item-name{
      position: relative;
      width: 100%;
      height: 24px;
      font-size: 20px;
      font-weight: bold;
      margin: 0px 0px 0.25rem 0px;
      line-height: 1.5;
      word-break: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: rgb(33, 37, 41);
    }
  }

  .list-item-sub{
    padding: 0.625rem 1rem;
    border-top: 1px solid rgb(248, 249, 250);
    display: flex;
    font-size: 0.75rem;
    line-height: 1.5;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

.list-item:hover{
  box-shadow: rgb(0 0 0 / 10%) 10px 10px 16px 0px;
}