.filter {
    border: 1px solid black;
    width: 700px;
    height: 200px;
    background: white;
    position: fixed;
    right: 27px;
    top: 180px;

    .filter__line {
        width: 700px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .filter__title {
        height: 20px;
        width: 50px;
    }

    .filter__content {
        width: 700px;
        margin-left: 15px;
        display: flex;

        input {
            margin-left: 50px;
        }
    }

    .filter___input--abv {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

}