.filter {
    border: 3px solid brown;
    width: 700px;
    height: 330px;
    background: lightsalmon;
    position: fixed;
    right: 27px;
    top: 180px;
    border-radius: 10px;

    .filter__line {
        width: 700px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .filter__title {
        height: 30px;
        width: 100px;
    }

    .filter__content {
        width: 700px;
        margin-left: 15px;
        display: flex;

        input {
            margin-left: 50px;
        }
    }

    .filter___input--abv {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

}