.list{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .list__navbar{
    position: relative;
    width: 300px;
    height: 100%;
    background: #61dafb;
  }

  .list__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .list__content-up{
      position: relative;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;

      .list__content-search-wrap{
        position: relative;
        margin-top: 30px;
        left: 30px;
        height: 30px;
        width: auto;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(181, 188, 189);

        .list__content-search-icon{
          margin-right: 10px;
          margin-left: 10px;
          height: 20px;
          width: 20px;
        }
        .list__content-search{
          height: 20px;
          margin-right: 4px;
          border: none;
          font-size: 15px;
          outline: none;
        }
      }
    }

    .list__content-down{
      position: relative;
      width: 100%;
      top: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .list__content-item-wrap{
        border-bottom: -30px;
        position: relative;
        width: 95%;
        height: 660px;
        display: flex;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(181, 188, 189);
        flex-direction: row; /* 왼쪽에서 오른쪽으로 나열되도록 설정 */
        flex-wrap: wrap;
        overflow: scroll;

      }
      .list__content-item-wrap::-webkit-scrollbar {
        display: none;
      }
    }
  }
}