.item {
    background-color: white;
    width: 197px;
    height: 250px;
    border-radius: 6px;
    box-shadow: rgba(34, 13, 171, 0.04) 0px 8px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    .item__image {
        width: 160px;
        height: 160px;
        margin-top: 15px;
    }

    .item__name {
        font-weight: bold;
    }

    .item__rate {
        margin-top: 20px;
        color: cornflowerblue;
    }
}