:root {
    --button-color: blue;
    --main-color: lightgray;
}

.flex-box {
    display: flex;
}

.margin {
    margin: 15px;
}

.button {
    background-color: var(--button-color);
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 5px;
}



.header {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;

    .header__login {

        margin-right: 10px;

    }
}



.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;

    .nav__input {
        height: 35px;
        width: 200px;
    }

    .nav__left {
        justify-content: space-around;
        width: 250px;

        *:disabled {
            background-color: #A8A8A8;
            color: black;
            font-weight: bold;
        }
    }

    .nav__right {
        justify-content: space-evenly;
        width: 470px;

        .button {
            background-color: lightgray;
        }
    }


}

.main {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .main__inner {
        width: 1376px;
        display: flex;
        flex-wrap: wrap;
    }
}

.my-liqour {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;

}