.header {
    border: 1px solid black;
    height: 100px;
}



.nav {
    border: 1px solid blue;
    height: 100px;
}

.main {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .main__inner {
        border: 1px solid green;
        width: 1376px;
        display: flex;
        flex-wrap: wrap;
    }
}