name: front-CD-develop


on:
  push:
    branches: develop
    paths:
      - 'frontend/**'
  pull_request:
    branches: develop
    paths:
      - 'frontend/**'

defaults:
  run:
    working-directory: ./frontend


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3 # workflow에서 액세스할 수 있도록 저장소를 체크아웃

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: S3 Deploy
        run: aws s3 sync ./build s3://qualla.site/ --acl bucket-owner-full-control # 현재 build된 폴더에 접근 후 s3 버킷인 csr-test-1-bucket에 파일 업로드
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
